.dark{
    background-color: var(--card-highlight-bg);
    color: white;
}

.dashboard-welcome{
    color: white;
    background-color: black;
    height: 200px;
    display: flex;
    width: 1010px;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0px 50px;
    border-radius: 20px;
}

.dashboard-welcome>p, .dashboard-welcome>h1{
    padding: 10px 30px;
    background-color: var(--card-highlight-bg);
    position: relative;
    border-radius: 15px;
}

.dashboard-welcome>p {
    margin-top: 0px;
}

.dashboard-container {
    position: absolute;
    margin-top: 2%;
    top: 50%;
    left: 55%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height:600px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    /* gap: 20px 0px 20px 20px; */
    grid-template-areas:
      "dashboard-welcome dashboard-welcome dashboard-welcome"
      "add-transaction recent-transactions-component recent-transactions-component"
      ". . .";
  }
  .dashboard-welcome { grid-area: dashboard-welcome; }
  .add-transaction { grid-area: add-transaction; }
  .recent-transactions-component { grid-area: recent-transactions-component; }


.add-transaction{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    width: max-content;
    padding: 10px 40px 30px 40px;
    border-radius: 20px;
    /* height: inherit;
    /* gin: 20px 0px 0px 0px; */
}

.addtransaction{
    display: flex;
    flex-direction: column;
}

.dropdown{
    height: 36px;
}

.recent-transactions-component{
    margin-top: 15px;
    width:700px;
}

/* .recent-and-addd-transactions {
    display: flex;
    flex-direction: row;
} */
