.dashboard{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    width: max-content;
    padding: 50px 50px 50px 50px;
    border-radius: 40px;
}

.dashboard > p, .dashboard>h1{
    /* border-color: white; */
    /* border: solid; */
    border-radius:50px;
    padding: 10px 30px 10px 30px;
    background-color: rgb(88, 88, 88);
}



.dashboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
