.dark{
    background-color: var(--card-highlight-bg);
    color: white;
}

.dashboard-welcome{
    color: white;
    background-color: black;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0px 50px;
    border-radius: 20px;
}

.dashboard-welcome>p, .dashboard-welcome>h1{
    padding: 10px 30px;
    background-color: var(--card-highlight-bg);
    position: relative;
    border-radius: 15px;
}

.dashboard-welcome>p {
    margin-top: 0px;
}


.dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: absolute;
    margin-top: 2%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.add-transaction{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    width: max-content;
    padding: 10px 40px 30px 40px;
    border-radius: 20px;
    margin:20px;
    height: inherit;
}

.addtransaction{
    display: flex;
    flex-direction: column;
}

.dropdown{
    height: 36px;
}

.recent-and-addd-transactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}
