.register{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--card--bg);
    color: white;
    padding: 20px;
    border-radius: 30px;
  }

  .input{
    border-radius: 40px;
    height: 30px;
    padding-left:15px;
    border-width: 2px;
    min-width: 300px;
    max-width: 400px;
    margin: 10px 0px 10px 0px;
    transition-duration: 0.4s;
    border-color: transparent;
    color:black;
    background-color: white;
  }

  .input:focus{
    transition-duration: 0.1s;
    outline: none !important;
    box-shadow: 0 0 10px grey
}

  .signupform {
    display: flex;
    flex-direction: column;
  }

  .signup-container{
    display: flex;
    flex-direction: column;
  }

  .submit{
    margin-top:10px;
    background-color: white;
    color: black;
  }

  .signup{
    margin-bottom:0px;
  }
