  .button{
    border: solid;
    border-radius: 40px;
    padding: 8px 20px 8px 20px;
    border-color: transparent;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.4s;
  }

  .button:hover{
    color: black;
    background-color: white;
    transition-duration: 0.1s;
  }

  .darkbutton{
    border: solid;
    border-radius: 40px;
    padding: 8px 20px 8px 20px;
    border-color: transparent;
    color:white;
    background-color: black;
    transition-duration: 0.4s;
  }

  .darkbutton:hover{
    color: white;
    background-color: purple;
    transition-duration: 0.3s;
  }
