@import url("./css/Universal.css");
@import url("./css/App.css");
@import url("./css/Register.css");
@import url("./css/Header.css");
@import url("./css/AboutPage.css");
@import url("./css/Dashboard.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;

  background: #2c0084;
background: -moz-linear-gradient(left,  #2c0084 0%, #db36a4 100%);
background: -webkit-linear-gradient(left,  #2c0084 0%,#db36a4 100%);
background: linear-gradient(to right,  #2c0084 0%,#db36a4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c0084', endColorstr='#db36a4',GradientType=1 );

}
