@import url("./css/Universal.css");
@import url("./css/App.css");
@import url("./css/Header.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,  #2c0084 0%,#db36a4 100%);
  font-family: 'Poppins', sans-serif;
}
